// variables default color
$primary: #2ec1ac!default;
$secondary: #3e978b!default;
$third: #d2e603!default;
$fourth: #eff48e!default;
$success: #00b894!default;
$error: #d63031!default;
$white: #ffffff!default;

$colorsMap: (
  'primary': $primary,
  'secondary': $secondary,
  'third': $third,
  'fourth': $fourth,
  'success': $success,
  'error': $error,
  'white': $white
);


// color, bg-color, border-color
@mixin colorUtilities($property) {
  @each $name, $value in $colorsMap {
    &-#{$name} {
      #{$property}: $value;
      @if $property == 'border-color' {
        border-width: 2px;
        border-style: solid;
      }
    }
  }
}

.color {
  @include colorUtilities(color);
}

.bg {
  @include colorUtilities(background-color);
}

.border {
  @include colorUtilities(border-color);
}


// Buttons (style and colors)

// Ici pour changer le style => classes dépendantes mises à jour automatiquement
%style-button {
  text-decoration: none;
  font-size: 1.2rem;
  margin : 1rem 0;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  align-items: center;
  justify-content: center;
}

.btn {
  @extend %style-button;
}

@mixin buttons ($background-color, $hover-color, $active-color) {
  @extend %style-button;
  background-color: $background-color;

  &:hover {
    background-color: $hover-color;
  }

  &:active {
    background-color: $active-color;
  }
}

.btn-primary {
  @include buttons ($primary, darken($primary, 8%), darken($primary, 15%));
}

.btn-secondary {
  @include buttons ($secondary, darken($secondary, 8%), darken($secondary, 15%))
}

.btn-third {
  @include buttons ($third, darken($third, 8%), darken($third, 15%))
}

.btn-info {
  @include buttons($fourth, darken($fourth, 8%), darken($fourth, 15%))
}

.btn-success {
  @include buttons($success, darken($success, 8%), darken($success, 15%))
}

.btn-error {
  @include buttons($error, darken($error, 8%), darken($error, 15%))
}

.text-uppercase {
  text-transform: uppercase;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-size: 16px;
  font-family: 'Robot', sans-serif;
  color: #585f5f;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

section {
  grid-column-start: 3;
  grid-column-end: 11;
  text-align: center;
}

article {
  border-radius: 15px;
  margin-bottom: 2rem;
  margin-top: 2rem;
  box-shadow: 0 0 30px lightgray;
}

hr {
  width: 100%;
  border: 2px solid $fourth;
}

a {
  text-decoration: none;
}

.small {
  font-size: 0.85rem;
}

// HEADER
header {
  height: 300px;
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(12, 1fr);
}

.title-name {
  display: grid;
  grid-row: 1;
  grid-column-start: 3;
  grid-column-end: 11;
  align-self: end;
  justify-self: center;
  font-weight: bold;
}

.sub-title-name {
  display: grid;
  grid-row: 2;
  grid-column-start: 3;
  grid-column-end: 11;
  align-self: start;
  justify-self: center;
  margin-top: -10px;
  font-size: 1.3rem;
  border-top: 1px solid lightgray;
  padding-top: 6px;
  text-align: center;
}

// NAV
nav {
  height: 50px;
  text-align: center;
  margin-bottom: 2rem;

  ul {
  padding: 10px;
  }

    li {
    display: inline;
    padding: 15px;  
    }

    a {
    color: $white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;

    &:hover {
      color: #d9dddd;
    }
    }
  }

.nav-sticky {
  z-index: 1000;
  position: sticky;
  top: 0px;
}

.nav-icon {
  float: right;
  margin-right: 1rem;
  padding: 0.6rem 0;
  display: none; // invisible on desktop

  i {
    font-size: 1.5rem;
  }
}

.navbar-collapsed {
  display: none; // disable on desktop
  margin-top: 250px;
  
  ul {
    padding: 10px;
    }
  
      li {
      padding: 8px;  
      }
  
      a {
      color: $white;
      text-decoration: none;
      font-weight: bold;
      letter-spacing: 1px;
  
      &:hover {
        color: #d9dddd;
      }
      }
}

// ABOUT
.container-one {
  display: grid;
  grid-template-rows: 2;
  grid-template-columns: repeat(12, 1fr);
}

.section-title {
  display: grid;
  grid-row: 1;
  grid-column: 1 / 13;
}

.about {
  display: grid;
  grid-row: 2;
  grid-column: 1 / 13;
  justify-items: center;

  img {
    width: 200px;
    margin: 5px;
  }

  p {
    margin: 10px;
    padding-left: 20%;
    padding-right: 20%;
  }
}

// SKILLS
.container-two {
  display: grid;
  grid-template-rows: 5;
  grid-template-columns: repeat(12, 1fr);
}

.front {
  grid-row: 2;
  grid-column: 1 / 8;
  padding-bottom: 0.5rem;
}
  
.back {
  grid-row: 3;
  grid-column: 6 / 13;
  padding-bottom: 0.5rem;
}

.android {
  grid-row: 4;
  grid-column: 1 / 8;
  padding-bottom: 0.5rem;
}

.other {
  grid-row: 5;
  grid-column: 6 / 13;
  padding-bottom: 0.5rem;
}

.competence-text {
  font-size: 0.9rem;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.table-comp {
  width: 100%;
  border-spacing: 10px;
  margin-left: 1rem;
}

.other-comp {
  text-align: left;
  padding-left: 2rem;
}

.symbols-front {
  grid-row: 2;
  grid-column: 9 / 13;
  align-self: center;
  vertical-align: middle;

    img {
      width: 150px;
      height: 150px;
    }
}

.symbols-back{
  grid-row: 3;
  grid-column: 1 / 6;
  align-self: center;
  vertical-align: middle;

    img {
      width: 300px;
      height: 300px;
    }
}

.symbols-mobile {
  grid-row: 4;
  grid-column: 9 / 13;
  align-self: center;
  vertical-align: middle;

    img {
      width: 100px;
      height: 150px;
      transform: rotate(10deg);
    }
}

.symbols-other {
  grid-row: 5;
  grid-column: 1 / 6;
  align-self: center;
  vertical-align: middle;

    img {
      width: 200px;
    }
}

// EXPERIENCES
.table-diplomes {
  width: 100%;
  border-spacing: 20px;
  margin-left: 1rem;

    th {
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
    }

    th:first-child {
      text-align: left;
    }

    td:first-child {
      color:$secondary;
      text-align: center;
      font-weight: bold;
      text-align: left;
    }  
}

.parcours {
  justify-content: center;
}

// REALISATIONS
.container-three {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(2, 1fr);
}

.project {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  margin-right: 1rem;
  margin-left: 1rem;

  &:hover {
    transform: scale(1.08);
  }
}

.card-title {
  font-family: 'Ubuntu', sans-serif;
  color: $secondary;
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.card-body {
  img {
    width: 90%;
    margin-bottom: 1rem;
  }
}

.card-content {
  padding: 0 3rem 1rem 3rem;

  button a {
    color: white;
    font-size: 0.8rem;
    font-weight: bold;

    &::before {
      content: ">>";
      padding-right: 0.5rem;
    }
  }
}

// CONTACTS
.contact-list {
  font-size: 1.3rem;
  font-family: 'Ubuntu', sans-serif;
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: repeat(3, 1fr);
}


.contact i {
  font-size: 2.5rem;
  padding-left : 2rem;
  padding-right: 0.6rem;
  vertical-align: middle;

    &:hover {
      color: darken($secondary, 8%);
    }
}

.contact a {
  color: #585f5f;

    &:hover {
      color: lighten( #585f5f, 15%);
    }
}

// FOOTER
footer {
  background-color: $third;
  margin-top: 3rem;
  height: 4rem;
  text-align: center;
  
    i {
      font-size: 1rem;
      margin-top: 1.35rem;
    }
}

// Media Screen Laptop
@media screen and (max-width: 1170px) and (min-width: 939px) {
  main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  
  section {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
  }

  .contact-list {
    font-size: 1.1rem;
  }
}


// Media Screen Big Tablet
@media screen and (max-width: 938px) {
  main {
    margin-top: 250px;
  }

  section {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 12;
    text-align: center;
    font-size: 14px;
  }

  .nav-sticky {
    position: static;
  }

  nav {
    margin-top: -300px;

    li {
      display: none;
    }

    .nav-icon {
      display: inline;
    }
  }

  .container-two {
    grid-template-columns: repeat(12, 1fr);
  }

  .front, .back, .android, .other, .card {
    grid-column: 2 / 12;
  }

  .other-comp {
    text-align: center;
    padding-left: 0rem;
  }

  .symbols-front, .symbols-back, .symbols-mobile, .symbols-other {
    display: none;
  }

  .container-four {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(12, 1fr)
  }

  .parcours {
  grid-row: 1;
  grid-column: 2 / 12;
  }

  .container-three {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
  }

  .contact-list {
    font-size: 1.1rem;
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: repeat(12, 1fr);
    text-align: left;
  }

  .contact {
    grid-column: 2 / 12;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  .contact-list i {
    padding-left: 0;
  }
}



// Media screen Small Tablet Big Phone
@media screen and (max-width: 618px) { 
  section {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
    font-size: 12px;
  }

  .front, .back, .android, .other, .card {
    grid-column: 1 / 13;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .container-four {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(12, 1fr)
  }

  .parcours {
    grid-row: 1;
    grid-column: 1 / 13;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .table-diplomes {
    width: 100%;
    border-spacing: 10px;
    margin-left: 0.5rem;

      th {
        text-align: left;
        font-weight: bold;
        font-size: 0.9rem;
      }
  }

  header {
    height: 250px;
  }

  .title-name {
    grid-column-start: 1;
    grid-column-end: 13;
    font-size: 1.3rem;
  }

  .sub-title-name {

    grid-column-start: 1;
    grid-column-end: 13;
    font-size: 1rem;
  }

  nav {
    margin-top: -250px;
  }
}


// Media screen Mobile
@media screen and (max-width: 414px) {
  article, .small, .competence-text {
    font-size: 12px;
  }
}

// Media screen Small Mobile
@media screen and (max-width: 375px) {
  article, .competence-text {
    font-size: 11px;
  }

  .small {
    font-size: 8px;
  }
}